.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkmagenta;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}
  
.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    padding: 8px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


/* Change the link color on hover */
.navbar li a:hover {
    background-color: cyan;
    color: black;
}

.active {
    background-color: cyan;
}