.navbar {
    background-color: darkmagenta;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
  
.navbar li {
    float: left;
}

.navbar a {
    display: block;
    padding: 8px;
    color: white;
}


/* Change the link color on hover */
.navbar li a:hover {
    background-color: cyan;
    color: black;
}

.active {
    background-color: cyan;
}